{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block content %}
    <div class="container">
        <div class="edit-entry">
            <h2>Edit Entry</h2>
            <form method='POST' action="{{ url_for('edit_entry', entry_id=entry_id) }}">
                {{ form.csrf_token }}
                {{ render_field(form.title) }}
                {{ render_field(form.date) }}
                {{ render_field(form.time_spent) }}
                {{ render_field(form.learned) }}
                {{ render_field(form.resources) }}
                <input type="submit" value="Publish Entry" class="button">
                <a href="{{ url_for('entry_detail', entry_id=entry_id) }}" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
